<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio prueba</title>
</head>
<body>
    <h2>Tus datos y pago</h2>
    
    <h2 class="datos">Datos de los huespedes</h2>
    
    <div class="datos-huesped"> 
        <div class="huesped-nombre">
            <label >Nombres</label>
            <input class="caja-nombre" type="text" name="nombre_huesped">
        </div>
        <div class="huesped-apellido">
            <label >Apellidos</label>
            <input class="caja-apellido"type="text" name="apellido_huesped">
        </div>
    </div>

    <h2 class="datos-c">Datos de contacto</h2>

    <form>
        <div class="container-flex">
            <label class="form-label">Nombres</label>
            <input class="form-input" type="text" name="nombre_contacto">
        </div>
        <div class="container-flex">
            <label class="form-label">Apellidos</label>
            <input class="form-input" type="text" name="apellido_contacto">
        </div>
        <div class="container-flex">
            <label class="form-label">Email</label>
            <input class="form-input" type="email" name="email_contacto">
        </div>
        <div class="container-flex">
            <label class="form-label">Confirmar Email</label>
            <input class="form-input" type="email" name="email-confirmar_contacto">
        </div>
        <div class="container-flex">
            <label class="form-label">Telefono</label>
            <input class="form-input" type="tel" name="telefono_contacto">
        </div>
    </form> 
    <input class ="boton" type="button" value="Continuar">
</body>
</html>