<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario de registro</title>
</head>
<body>
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>Hotel<span>Campestre</span></div>
	</div>
	<br>
	<div class="title">
	<h1>Reservas</h1>
	</div>
	<br>
	<div class="login">
			<input type="text" placeholder="E-mail" name="email"><br>
			<input type="password" placeholder="Contraseña" name="contraseña"><br>
			<input type="button" value="Ingresar">
	</div>
	<br>
	<div class="title1">
	<h2 >¿Usuario nuevo? <a routerLink="/registrese" routerLinkActive="active">Regístrese.</a></h2>
	</div>
</body>
</html>


