<div class="container">
    <form action="#">
      <div class="row">
        <div class="col-25">
          <label for="fname">Nombres</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="name" placeholder="Tu Nombre">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Apellidos</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastn" placeholder="Tus Apellidos">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Ciudad</label>
        </div>
        <div class="col-75">
          <select id="ciudad" name="ciudad">
            <option value="1">Bogota</option>
            <option value="2">Medellín</option>
            <option value="3">Bucaramanga</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="asunto  ">Asunto</label>
        </div>
        <div class="col-75">
          <textarea id="asunto" name="asunto" placeholder="Escribe tu motivo de contacto" style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
